/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, * ::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "SF Pro Text";
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

@media (max-width: 375px) {
  .container {
    margin: 0 auto;
    max-width: 345px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  width: 128px;
  height: 38px;
}

.nav-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.nav-mobile {
  display: none;
}

.nav-d-flex li {
  margin-left: 32px;
}

.nav-item {
  font-size: 20px;
  color: #8D8D8D;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
}

.material-icons {
  color: #8D8D8D;
}

@media (max-width: 375px) {
  .nav-d-flex {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-icon {
    margin-left: 19px;
    margin-top: 10px;
  }
}

.banner {
  width: 100%;
  height: 870px;
  background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -110px 100px;
  position: relative;
  margin-bottom: 60px;
}

.slogan {
  width: 445px;
  color: #FFFFFF;
  position: absolute;
  left: 800px;
  top: 410px;
}

.title {
  font-size: 40px;
  line-height: 60px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 700;
}

.content {
  font-size: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  line-height: 36px;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.shop-btn {
  color: #ffffff;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  width: 350px;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  padding: 13px 109px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 500;
}

.shop-btn:hover {
  background-color: #FFFFFF;
  color: #8D8D8D;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
}

@media (max-width: 375px) {
  .banner {
    width: 375px;
    height: 480px;
    background-image: url("https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -70px 90px;
    text-align: left;
    position: relative;
  }
  .slogan {
    position: absolute;
    top: 100px;
    left: 15px;
  }
  .title {
    font-size: 32px;
    line-height: 48px;
    font-family: "SF Pro Text";
    font-weight: 700;
    color: #ffffff;
    padding-top: 101px;
  }
  .content {
    font-size: 20px;
    line-height: 30px;
    font-family: "SF Pro Text";
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 16px;
  }
  .shop-btn {
    width: 345px;
  }
}

.intro {
  width: 1110px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box-item {
  height: 550px;
  width: 550px;
}

.box-mobile {
  display: none;
}

.center {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.item-name {
  font-size: 32px;
  line-height: 48px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 700;
  margin-top: 150px;
}

.item-content {
  font-size: 20px;
  line-height: 30px;
  font-family: 'PingFang TC';
  font-weight: 100;
  padding-bottom: 16px;
}

.more {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #AC8A46;
  font-family: 'PingFang TC';
  font-weight: 500;
  padding-bottom: 8px;
}

.Gabrielle {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1563170351-be82bc888aa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTd8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.Gabrielle:hover {
  background-size: 130%;
  background-position: -50px -80px;
}

.fiveoclock {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://echocarrie.com/layoutWeek6/assets/images/index3.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.fiveoclock:hover {
  background-size: 120%;
  background-position: -50px -60px;
}

.N5 {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1585120040315-2241b774ad0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.N5:hover {
  background-size: 180%;
  background-position: -50px -60px;
}

.train {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.train-li {
  width: 550px;
  height: 1080px;
}

.train-pic {
  width: 555px;
  height: 100%;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1542038382126-77ae2819338d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MjR8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -100px 0;
}

.train-mt {
  margin-top: 92px;
}

.train-title {
  font-size: 24px;
  line-height: 36px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
}

.train-content {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  padding-bottom: 52px;
}

.training-btn {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 18px 51px;
  width: 350px;
  display: block;
}

.training-btn:hover {
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 375px) {
  .box {
    display: none;
  }
  .box-mobile {
    display: block;
  }
  .Gabrielle, .fiveoclock, .N5 {
    width: 345px;
    height: 350px;
  }
  .train {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 345px;
  }
  .train-pic {
    width: 345px;
  }
}

.item {
  background-color: #E0E0E0;
  margin-bottom: 60px;
}

.item-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-pic {
  width: 350px;
  height: 540px;
  margin-top: 40px;
}

.PB {
  background-image: url("https://images.unsplash.com/photo-1530630458144-014709e10016?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTl8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  overflow: hidden;
}

.PB:hover {
  background-size: 130%;
  background-position: -50px -100px;
}

.BW {
  background-image: url("https://images.unsplash.com/photo-1556228720-da4e85f25e15?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTh8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  overflow: hidden;
}

.BW:hover {
  background-size: 130%;
  background-position: -50px -100px;
}

.ACVC {
  background-image: url("https://images.unsplash.com/photo-1559264730-1533a6ec0433?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Mjh8MTE1ODAyMTR8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  overflow: hidden;
}

.ACVC:hover {
  background-size: 130%;
  background-position: -50px 0;
}

.item-title {
  font-size: 24px;
  line-height: 36px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
}

.item-brand {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  padding-bottom: 16px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-price {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  margin-bottom: 40px;
  padding-right: 8px;
}

.price-del {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  text-decoration: line-through;
  color: #8D8D8D;
}

.no-item {
  position: relative;
  opacity: 0.3;
}

.sold-out {
  font-size: 24px;
  line-height: 36px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: 4150px;
  right: 300px;
}

@media (max-width: 375px) {
  .item-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.recycling {
  padding-bottom: 60px;
}

.recycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recycle-li {
  width: 730px;
  height: 520px;
}

.recycle-pic {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1594913615593-e4b8c44625be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
}

.recycle-title {
  font-size: 32px;
  line-height: 48px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: bold;
}

.recycle-sub-title {
  font-size: 20px;
  line-height: 30px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  padding-bottom: 16px;
}

.recycle-content {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  padding-bottom: 16px;
}

.recycle-mt {
  margin-left: 30px;
  margin-top: 100px;
}

@media (max-width: 375px) {
  .recycle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recycle-pic {
    width: 345px;
  }
  .recycle-li {
    width: 345px;
  }
}

.brand-list {
  background-color: #916000;
  margin-bottom: 188px;
}

.brand-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
}

.brand {
  font-size: 20px;
  line-height: 30px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: #ffff;
  margin-right: 28px;
}

@media (max-width: 375px) {
  .brand-list {
    display: none;
  }
}

.product-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-list {
  width: 255px;
  border: 1px solid white;
}

.product-pic {
  width: 255px;
  height: 255px;
}

.product-name {
  font-size: 24px;
  line-height: 36px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 500;
  color: #000000;
}

.brand-name {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
  color: #000000;
}

.price-del {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 100;
  text-decoration: line-through;
  color: #8D8D8D;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 58px;
}

.icon {
  color: #916019;
  margin-right: 11px;
}

.product1 {
  background-image: url("https://images.unsplash.com/photo-1519669011783-4eaa95fa1b7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=379&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product1:hover {
  background-size: 130%;
}

.product2 {
  background-image: url("https://images.unsplash.com/photo-1530630458144-014709e10016?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: 0 -120px;
  overflow: hidden;
}

.product2:hover {
  background-size: 130%;
  background-position: -40px -210px;
}

.product3 {
  background-image: url("https://images.unsplash.com/photo-1566977776052-6e61e35bf9be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: 0 -40px;
  overflow: hidden;
}

.product3:hover {
  background-size: 130%;
  background-position: -50px -90px;
}

.product4 {
  background-image: url("https://images.unsplash.com/photo-1578996834254-13d1b661a5ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80");
  background-size: cover;
  background-position: 0 -20px;
  overflow: hidden;
}

.product4:hover {
  background-size: 130%;
  background-position: -30px -50px;
}

.product5 {
  background-image: url("https://images.unsplash.com/photo-1582211594533-268f4f1edcb9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: 0 -50px;
  overflow: hidden;
}

.product5:hover {
  background-size: 130%;
  background-position: -40px -80px;
}

.product6 {
  background-image: url("https://images.unsplash.com/photo-1585120040315-2241b774ad0f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-size: 170%;
  background-position: 0 -30px;
  overflow: hidden;
}

.product6:hover {
  background-size: 220%;
  background-position: -30px -80px;
}

.product7 {
  background-image: url("https://images.unsplash.com/photo-1592842414746-a2fd2101381f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product7:hover {
  background-size: 130%;
}

.product8 {
  background-image: url("https://images.unsplash.com/photo-1544468266-6a8948003cd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=874&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product8:hover {
  background-size: 180%;
}

.product9 {
  background-image: url("https://images.unsplash.com/photo-1551500519-b59aed76227b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product9:hover {
  background-size: 130%;
  background-position: -30px -150px;
}

.product10 {
  background-image: url("https://images.unsplash.com/photo-1592247691114-69a06342531a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product10:hover {
  background-size: 130%;
}

.product11 {
  background-image: url("https://images.unsplash.com/photo-1559264729-91549dddfc45?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product11:hover {
  background-size: 130%;
}

.product12 {
  background-image: url("https://images.unsplash.com/photo-1594913366159-1832cfbe7ca1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.product12:hover {
  background-size: 180%;
}

@media (max-width: 375px) {
  .product-pic {
    width: 165px;
    height: 165px;
  }
  .product-list {
    width: 165px;
  }
  .product2 {
    background-position: 0 -90px;
  }
  .product3 {
    background-position: 0 -20px;
  }
  .product5 {
    background-position: 0 -30px;
  }
  .product6 {
    background-position: 0 -20px;
  }
}

.page-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}

.default {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 30px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
  margin-right: 20px;
  padding: 3px 3px;
}

.brown {
  color: #AC8A46;
  text-decoration: underline;
}

.info {
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80");
  background-repeat: no-repeat;
  background-size: 135%;
  background-position: center;
}

.info-p {
  font-size: 32px;
  line-height: 48px;
  font-family: 'PingFang TC';
  font-weight: 500;
  color: #8D8D8D;
}

.mt-300 {
  padding-top: 300px;
  margin-left: 405px;
}

.email-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #916000;
  border-radius: 4px;
  width: 350px;
  height: 60px;
  text-decoration: none;
}

.email {
  width: 219px;
  height: 60px;
  color: #8D8D8D;
  background-color: #ffff;
  padding-left: 16px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: medium;
}

.subscribe {
  width: 131px;
  height: 60px;
  padding-top: 17px;
  line-height: 24px;
  font-size: 16px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: medium;
  text-align: center;
  color: #ffff;
  background-color: #916000;
  border: 2px solid #916000;
  border-radius: 0px 4px 4px 0px;
}

@media (max-width: 375px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background-size: 180%;
    background-position: -45px -70px;
  }
  .mt-300 {
    position: absolute;
    left: -390px;
  }
  .info-p {
    width: 345px;
  }
  .email-text {
    width: 345px;
  }
}

.footer {
  background-color: #916000;
  padding-top: 32px;
  padding-bottom: 32px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-light {
  margin-right: 20px;
}

.comp-info {
  color: #ffff;
  font-size: 14px;
  line-height: 21px;
  margin-top: 10px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 400;
}

.filter-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-item {
  color: #ffff;
  font-size: 20px;
  line-height: 30px;
  margin-left: 36px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 300;
}

@media (max-width: 375px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .filter {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */